body {
    width: 1920px;
    margin: 0 auto;
    font-family: Raleway, Roboto, Montserrat;
}

.page-header {
    width: 1980px;
    min-height: 1024px;
    padding: 50px;
    box-sizing: border-box;
    /*    border: 1px solid #008000;*/
    background-image: url(../img/img-header/slider-bcground.png);
    background-repeat: no-repeat;
}

.header-name-company {
    font-family: Raleway;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;
}
.header-nav{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}