body {
	width: 1920px;
	font-family: @font-family;
	margin: 0;
	color: #fff;
}

.page-header {
	width: @width;
	background-image: url(../img/img-header/slider-bcground.png);
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;
	//min-height: 1024px;

	.header-top-wrp {
		width: @width;
		margin: 0;
		.flex-box();
		align-items: center;
		.padding-site();

		.logo-header {
			margin: 0 219px 0 326px;
			.flex-box();
			justify-content: space-between;
			align-items: center;
			text-decoration: none;
			width: 181px;
			justify-content: flex-start;

			.logo-header-style {
				.header-icons-style();
			}

			.header-name-company {
				font-family: Raleway;
				line-height: 1.2;
				font-weight: 400;
				letter-spacing: -0.04em;
				color: #fff;
				font-size: 28px;
			}

			.header-name-company:hover {
				color: #998675;
			}

			.logo-header-style:hover {
				fill: #998675;
			}
		}

		.page-header-menu {
			margin: 0;
			padding: 0;

			.header-nav-list {
				margin: 0;
				padding: 0;
				.flex-box();

				.header-nav-list-item:nth-child(8) {
					margin: 0;
				}

				.header-nav-list-item {
					list-style-type: none;
					font-family: Montserrat;
					font-size: 14px;
					line-height: 1.2;
					font-weight: 300;
					color: #ffffff;
					.margin()
				}

				.header-nav-list-item:hover {
					color: #998675;
				}
			}
		}

		.header-cart-btn {
			align-items: center;
			margin-left: 63px;
		}

		.header-cart-btn-style {
			.header-icons-style();
		}

		.header-cart-btn-style:hover {
			fill: #998675;
		}

		.header-form-search {}

		.header-search-style {
			align-items: center;
			height: 24px;
			width: 24px;
			outline: none;
			background: transparent;
			background-image: url(../img/img-header/icon_search.png);
			background-size: top;
			background-repeat: no-repeat;
			border: none;
			margin-left: 28px;
		}

		.header-search-style:focus {
			width: 300px;
			transition: width 1s ease-out;
			background-position: right;
			border: 1px solid gray;
			color: #fff;
		}
	}

	//Section-slider
	.header-slider {
		.padding-site();
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		min-height: 400px;
		//		margin: 0 auto;
		margin: 120px 0 0 0;
		position: relative;
		width: @width;

		.header-slider-arrow-left {
			position: absolute;
			top: 215px;
			left: 150px;
			fill: #fff;

			&:hover {
				fill: #998675;
			}

			.slider-arrow-style {}
		}

		.header-slider-arrow-right {
			position: absolute;
			top: 215px;
			left: 1770px;
			fill: #fff;

			&:hover {
				fill: #998675;
			}

			.slider-arrow-style {}
		}

		.header-slider-wrp {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.padding-site();
			width: @width;
			margin: 0;

			.hdr-slider-h2 {
				//Text: Unique and Modern Design;
				font-family: Raleway;
				font-size: 36px;
				line-height: 1.2;
				font-weight: 500;
				color: #fff;
			}

			.hdr-slider-h1 {
				//Text: Portfolio PSD Template;
				font-family: Raleway;
				font-size: 52px;
				line-height: 1.2;
				font-weight: 800;
				color: #ffffff;
			}

			.hdr-slider-txt {
				//Text: Nam liber tempor
				font-family: Montserrat;
				font-size: 16px;
				line-height: 24px;
				font-weight: 300;
				color: #ffffff;
				width: 574px;
				text-align: center;
			}

			.hdr-slider-btn {
				text-align: center;
				box-sizing: border-box;
				cursor: pointer;
				background-color: #998675;
				border-radius: 10px;
				width: 170px;
				min-height: 53px;
				margin: 52px 0 0 0;
				text-decoration: none;
				font-size: 14px;
				line-height: 23px;
				font-weight: 800;
				text-transform: uppercase;
				color: #ffffff;
				padding: 14px;

				&:hover {
					background-color: #555555;
					color: #000;

				}

				&:active {
					background-color: #998675;
					color: #eee;

				}

				.hdr-slider-btn-txt {
					//Text: Get Started;
					font-family: Raleway;

				}
			}

		}

		.slider-pagination {
			width: 120px;
			display: flex;
			justify-content: space-between;
			margin:200px 0 0 0;

			.pagination-item {
				display: block;
				width: 11px;
				height: 11px;
				background-color: #ccc;
				border-radius: 50%;
				border: 2px solid transparent;
				margin: 0 9px 0 0;

				&:hover {
					background-color: transparent;
					border: 2px solid #d3c1ad;
					transform: scale(1.2);
				}
			}
		}
	}
}
