@width: 1980px;
@border: 1px solid green;

.padding-site() {
    padding: 50px;
    box-sizing: border-box;
}

.page-header {
    width: @width;
    .padding-site();
    border: @border;
}
@font-family: roboto,Raleway,Montserrat;